.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.28);
    position: fixed;
    bottom: 0;
    width: 100%;

    section {
        width: 25em;
        max-width: 25em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        a {
            width: 5em;
            text-align: center;
        }
    }
}