.formOverviewByUser {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 1em;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 1em;

    .info {
        align-items: start;
        padding-left: 20px;

        article {
            h2 { font-size: 20px; }
            p { font-size: 12px; }
        }
    }

    // Export

    .options {
        display: flex;
        justify-content: space-between;
        width: 30px;
        height: 90px;
        flex-grow: 0;

        .export_answers {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
        }

        .export_answers {
            margin-top: 5px;
        }

        .export_answers:hover {
            background-color: white;
        }
    }
}

.formOverviewByUser:hover {
    background-color: rgb(233, 240, 248);
}