.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    
    margin-bottom: 1em;
    padding: 0.8em;
    
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);

    h1 {
        font-size: 40px;
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        padding: 0.2em;
        padding-left: 1em;
        font-size: 0.9em;
        flex-grow: 0.5;
    }

    input:focus {
        outline: none;
    }

    .dropdown {

        float: left;
        overflow: hidden;

        section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 30px;
            height: 60px;
            padding: 5px;
            padding-right: 2em;
    
            div {
                width: 50px;
                height: 100%;
                border-radius: 50%;
            }
    
            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0px;
    
                height: 100%;
                margin-left: 1em;
    
                p {
                    font-size: 13px;
                }
    
                a {
                    font-size: 12px;
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 170px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 10px;
            margin-left: 20px;

            a {
                float: none;
                color: black;
                padding: 6px 8px;
                text-decoration: none;
                display: block;
                text-align: center;
                font-size: small;
            }

            a:hover {
                background-color: rgb(233, 240, 248);
                border-radius: 10px;
            }
            button {
                font-size: 12px;
            }
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}
