.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 40em;
    padding: 0.8em 0.8em 4.1em 0.8em;
    text-align: center;

    nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 35px;
        margin-top: 15px;

        a {
            width: 11em;
            max-width: 11em;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 21px;
            text-align: center;
            font-size: 1em;
        }

        a:hover {
            background-color: rgb(233, 240, 248);
        }

        a:first-child {
            background-color: #2C6CB8;
            color: white;
        }
    }
    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}