.mainContent {
    padding-bottom: 6em;

    max-width: 40em;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;
    text-align: center;

    nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 35px;
        margin-top: 15px;

        button {
            width: 11em;
            max-width: 11em;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 21px;
            text-align: center;
            font-size: 1em;
        }

        button:hover {
            background-color: rgb(233, 240, 248);
        }

        .selected {
            background-color: #2C6CB8;
            color: white;
        }

        .selected:hover {
            background-color: #2C6CB8;
        }

        
    }
    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}