.users {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 6em;
    max-width: 40em;
    padding: 0.8em;

    nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 35px;
        margin-top: 15px;

        a {
            width: 11em;
            max-width: 11em;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 21px;
            text-align: center;
            font-size: 1em;
            background-color: #2C6CB8;
            color: white;
        }

        a:first-child, a:last-child {
            background-color: white;
            color: black;
        }

        a:first-child:hover, a:last-child:hover {
            background-color: rgb(233, 240, 248);
        }
    }

    .list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}