.user {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 1em;
    flex-grow: 1;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    cursor: pointer;
    text-align: center;
    padding: 1em 3em;

    section {
        gap: 0 !important;
        flex-grow: 2;
    }

    .info {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
}

.user:hover {
    background-color: rgb(233, 240, 248);
}