.carousel {
    .swiper {
        width: 400px;
        height: 300px;
        --swiper-navigation-size: 55px;
      }
      
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        padding: 0px 55px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .content{
        overflow: hidden;
    }

    .text{
        text-overflow: ellipsis;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }   

    .swiper-button-next {
        background-image: url(./next.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
    
    .swiper-button-next::after {
    display: none;
    }

    .swiper-button-prev {
        background-image: url(./prev.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
    
    .swiper-button-prev::after {
        display: none;
    }
}
