.login_window {
    $button-bg-color: #2C6CB8;
    $text-gray-color: #4f4f4f;
    $windowHeight: 487px;
    $windowWidth: 427px;
    display: flex;
    flex-direction: column;
    width: 487px;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-radius: 16px;
    background-color: white;
    color: black;

    h1 {
        font-size: 32px;
        font-weight: lighter;
        margin-top: 60px;
        margin-bottom: 0;
    }

    .data {
        display: flex;
        flex-direction: column;

        input {
            width: inherit;
            padding: 12px;
            border: none;
            border-bottom: 1px solid $text-gray-color;
            font-size: 20px;
            margin-top: 20px;
        }

        input:focus {
            outline: none;
        }
        
        input:-webkit-autofill {
            background-color: transparent !important;
            -webkit-box-shadow: 0 0 0 50px white inset;
        }
        
        button {
            background-color: $button-bg-color;
            color: white;

            border: none;
            border-radius: 15px;
            
            height: 42px;
            font-size: 20px;
            font-weight: lighter;
            margin: 40px 8px 16px 8px;
            cursor: pointer;
        }

        a {
            font-size: 15px;
            margin: 0.2em 1em;
            text-decoration: none;
            color: $text-gray-color;
        }
    }

    .refs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        
        a {
            font-size: 17px;
            text-align: center;
            text-decoration: none;
            color: black;
        }
    }
}
