.registration_window {
    $button-bg-color: #2C6CB8;
    $text-gray-color: #4f4f4f;
    $windowWidth: 427px;
    display: flex;
    flex-direction: column;
    width: $windowWidth;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-radius: 16px;
    background-color: white;
    color: black;

    h1 {
        font-size: 32px;
        font-weight: lighter;
        margin-top: 40px;
    }

    .data {
        display: flex;
        flex-direction: column;

        input {
            width: inherit;
            padding: 12px;
            border: none;
            border-bottom: 1px solid $text-gray-color;
            font-size: 20px;
            margin-top: 20px;
        }
        
        input:focus {
            outline: none;
        }

        input:-webkit-autofill {
            background-color: transparent !important;
            -webkit-box-shadow: 0 0 0 50px white inset;
        }

        .checkbox_field {
            display: flex;
            align-items: center;
            margin-top: 35px;
            input {
                margin-top: 0px;
                margin-right: 10px;
            }
        }
        
        button {
            background-color: $button-bg-color;
            color: white;

            border: none;
            border-radius: 15px;
            
            height: 42px;
            font-size: 20px;
            font-weight: lighter;
            margin: 40px 8px 16px 8px;
            cursor: pointer;
        }

        a {
            font-size: 15px;
            margin: 0.2em 1em;
            text-decoration: none;
            color: $text-gray-color;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
        }

        a:hover {
            background-color: rgb(233, 240, 248);
        }
    }
}
