.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 100%;
    width: 100%;
    gap: 100px;
    background-color: #F3F3F3;

    form, footer {
        a {
            padding: 5px;
            border-radius: 5px;
        }

        a:hover {
            background-color: rgb(233, 240, 248);
        }
    }
}