.form_overview {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 1em;
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    section {
        gap: 0 !important;
        flex-grow: 2;
    }

    .info {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }

    .stats {
        font-size: 11px;
    }

    marker {
        width: 30px;
        height: 90px;
    }

    // Favorite

    marker:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.13);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        scale: 110%;
        position: relative;
        display: inline-block;
        /* Tooltip text */
        & .tooltiptext {
            opacity: 0;
            width: 120px;
            background-color: rgba(1, 11, 69, 0.519);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            margin-left: -60px;
            margin-top: 20px;
            border-radius: 6px;
            font-size: 10px;
        
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
            transition: opacity 0.3s;
            transition-delay: 250ms;
        }
        
        /* Show the tooltip text when you mouse over the tooltip container */
        &:hover .tooltiptext {
            opacity: 1;
        }
    }
      
    .wrapper input {
        cursor: pointer;
    }
      
    // .wrapper label {
    //     position: relative;
    //     float: right;
    //     color: #C8C8C8;
    // }
      
    // .wrapper label:before {
    //     margin: 5px;
    //     content: "\f005";
    //     font-family: FontAwesome;
    //     display: inline-block;
    //     font-size: 1.5em;
    //     color: #ccc;
    //     -webkit-user-select: none;
    //     -moz-user-select: none;
    //     user-select: none;
    // }
      
    // .wrapper input:checked ~ label:before {
    //     color: #FFC107;
    // }
      
    .wrapper label:hover:before {
        cursor: pointer;
    }

    // More

    .options {
        display: flex;
        justify-content: space-between;
        width: 30px;
        height: 90px;
        flex-grow: 0;

        .export_answers, .export_questions, .delete {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
        }

        .export_answers {
            margin-top: 5px;
        }

        .delete {
            margin-bottom: 5px;
        }

        .export_answers:hover, .export_questions:hover, .delete:hover {
            background-color: white;
        }
    }
}