.form_overview {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 1em;
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    cursor: pointer;

    &.done {
       cursor: default;
       opacity: 0.5;
    }

    section {
        gap: 0 !important;
    }

    .info {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }

    .questions {
        background-image: linear-gradient(#000, #fff);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 11px;
    }

    .stats {
        font-size: 11px;
    }
}
.form_overview:hover {
    background-color: rgb(233, 240, 248);
}