.survey {
    margin: 3em auto;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;

        padding: 30px;
        width: 60%;

        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 15px;

        h1 {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: xx-large;
        }

        table {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
    
            tr {
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                width: 100%;
    
                td {
                    width: 100%;
    
                    label {
                        width: 35%;
                    }
    
                    input[type=text] {
                        padding: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.13);
                        border-radius: 5px;
                        width: 100%;
                    }
    
                    input[type=time] {
                        padding: 3px;
                        border: 1px solid rgba(0, 0, 0, 0.13);
                        border-radius: 5px;
                    }
    
                    input[type=checkbox] {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        margin-bottom: 4px;
                        cursor: pointer;
                    }
                }
    
                td:first-child {
                    width: 35%;
                    text-align: end;
                }
            }
        }

        input:focus {
            outline: none;
        }
    
        .error {
            color: rgb(230, 0, 0);
            
        }
    
        input[type=submit] {
            margin: 0;
            padding: 10px;
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 15px;
            width: 6em;
            background-color: #2C6CB8;
            color: white;
        }

        .csvTutorial {
            color: #2C6CB8;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 17px;
        }
    
        .csvTutorial:hover {
            padding: 5px;
        }

        .csvTutorial:hover::after {
            content: '...';
        }
        
        .csvTutorial:hover {
            background-color: rgb(233, 240, 248);
        }
    }
}