.survey_detail {
    display: flex;
    justify-content: center;

    .form {
        width: 80%;
        margin: 5em auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 700px;

        .question {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .survey-header {
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 20px;
            gap: 20px;
        }

        h1 {
            font-size: xx-large;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        p {
            font-size: large;
            display: flex;
        }
        
        .before-next {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border-radius: 15px;
            gap: 20px;
            padding: 30px;
            border: 1px solid rgba(0, 0, 0, 0.13);
        }
        
        fieldset > div {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        input[type="text"], input[type="date"] {
            font-size: small;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.13);
        }

        input[type="number"] {
            font-size: small;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.13);
        }

        input[type="submit"] {
            background-color: #2C6CB8;
            color: white;
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }
        button {
            background-color: #2C6CB8;
            color: white;
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }

        label {
            font-size: 25px;
        }
    }
}